uploads
tempfolder
test
packages
php_error*
*.php.tmp

wp-content/uploads
wp-content/uploads*
wp-content/w3tc
wp-content/w3tc-config/master-admin.php
wp-content/w3tc-config/master.php
wp-content/cache
wp-content/backup*
wp-content/plugins/debug-bar/

apc.php
info.php
log.htm

/wp-config.php
wp-content/db-cluster-config.php

wp-content/themes/kcl/cache/*
/_old/db.php
/_old/object-cache.php
/wp-content/w3tc-config/index.html
/.tags
/.tags_sorted_by_file
*.sublime-*
.phptidy-cache
/.htaccess

.DS_Store

*.sass-cache
*.map
*.sql
dev_pull_*/

wp-content/debug.log
/wp-content/mu-plugins/wp-mail-override.php
/wp-content/advanced-cache.php
/wp-content/db.php
/wp-content/object-cache.php

sys/*

.idea/*
*.iml

node_modules
Gruntfile.js

/wp-content/plugins/p3-profiler
/wp-content/mu-plugins/p3-profiler.php
/wp-content/themes/thekrazycouponlady_v2/npm-debug.log
